.AboutMe
  text-align: center
  p
    margin: auto
    text-align: center
    max-width: 22em
    font-family: "Open Sans"
    font-weight: normal
    font-size: 65px
    font-size: 1.5em
    letter-spacing: -0.05em
    text-transform: uppercase
    color: $TextColor
    margin-bottom: 20px
