.Button
  display: inline-block
  background-color: $primaryDark
  color: $primaryLight
  width: 1em
  height: 1.2em
  text-align: center
  font-size: 2em
  border-radius: 0.2em
  margin-left: 0.1em
  margin-right: 0.1em
  a
    vertical-align:middle
  &.active
    color: $secondaryLight
    background-color: $secondaryDark
