.Contact
  text-align: center
  .FormWrapper
    width: 30em
    margin: 0px auto
    @media screen and (max-width: 510px)
      width: 95%
    form
      font-family: "Open Sans"
      div
        border: 0px
        margin: 0px
        margin-bottom: 2em
        padding: 0px
        +display(flex)
        +align-items(center)
        +justify-content(space-between)
        span
          margin: 0px
          padding: 0px
          display: block
          width: 42%
          text-align: left
          input
            width: 99%
            border-color: #999
            border-width: 0.2em
            border-radius: 0.3em
            border-image: 0
            border-style: solid
    label
      display: block
      text-align: left
      color: $secondaryDark
      font-size: 1em
    textarea
      width: 99%
      border-color: #999
      border-width: 0.2em
      border-radius: 0.3em
      border-image: 0
      border-style: solid
      resize: none
      height: 6em
    input
      &[type="submit"]
        text-transform: uppercase
        background-color: $primaryDark
        color: $primaryLight
        font-weight: bolder
        font-size: 1em
        border: 0px
        margin-top: 1em
        margin-bottom: 3em
        border-radius: 0.5em
        width: 10em
        height: 3em
