
footer
  background: url("../Images/BG.JPG") center center
  background-attachment: fixed
  background-size: cover
  height: 10em
  display: flex
  align-items: center
  .fade
    display: flex
    align-items: center
    flex-wrap: wrap
    background-color: fade-out(#000, 0.5)
    width: 100%
    height: 70%
    vertical-align: middle
    svg
      fill: $primaryLight
      height: 100%
      width: auto
      float: left
    .FC
      display: flex
      flex-direction: column
      .FotterLinks
        float: left
        a
          margin-left: 0.2em
          margin-right: 0.2em
          text-decoration: none

          color: $primaryLight
          font-family: "Open Sans"
          font-size: 2em
          font-weight: bold
      span
        float: left
        font-family: "Open Sans"
        margin-left: 0.4em
        font-size: 1em
        color: $secondaryLight

@media screen and (max-width: 680px)
  footer
    .fade
      .FC
        .FotterLinks
          a
            font-size: 1.4em
        span
          font-size: 0.8em

@media screen and (max-width: 520px)
  footer
    .fade
      .FC
        .FotterLinks
          a
            font-size: 1em
        span
          font-size: 0.5em

@media screen and (max-width: 410px)
  footer
    .fade
      .FC
        .FotterLinks
          a
            font-size: 0.8em
            display: block
            text-align: left
        span
          font-size: 0.4em
