header
  margin: 0
  padding: 0
  width: 100%
  text-align: center
  background: url("../Images/BG.JPG") center center
  background-attachment: fixed
  background-size: cover

  padding-bottom: 3em
  box-shadow: 0px 10px 5px #888888
  .spacer
    display: block
    width: 30em

    height: 0.5em
    background-color: $secondaryLight
    margin: auto
    box-shadow: 0px 0px 0px
    @media screen and (max-width: 510px)
      width: 98%
  nav
    clear: both
    position: absolute
    z-index: 999
    top: 2em
    left: 0px
    width: 100%
    background-color: fade-out($primaryDark, 0.3)

    vertical-align: middle
    svg
      fill: $primaryLight
      height: 5em
      width: auto
      float: left
    .Links
      +display(flex)
      float: right
      align-items: center
      justify-content: center
      a
        &:hover, &:visited, &:active, &:link

          color: $primaryLight
          display: inline-block
          margin-right: 1em
          text-decoration: none
          font-family: "Open Sans"
          font-weight: bold
          font-size: 2em
        &.icon
          display: none
      @media screen and (max-width: 720px)
        +display(block)
        width: 100%
        a
          &:hover, &:visited, &:active, &:link
            display: none
          &.icon
            margin: 0
            padding: 0
            display: block
            position: absolute
            top: 15px
            right: 15px

        &.responsive
          a
            &:nth-of-type(1)
              border-top: 2px solid fade-out($secondaryLight, 0.3)
            &:hover, &:visited, &:active, &:link
              display: block
              width: 100%
              text-align: center
              clear: both
              float: none
              margin: 0
              padding: 0

            &.icon
              width: auto
              float: right
              clear: both
              position: absolute
              top: 15px
              right: 15px
              margin: 0
              padding: 0
  h1
    &.responsive
      padding-top: 4.2em
    margin-top: 0px
    padding-bottom: 0px
    padding-top: 2.4em
    margin-bottom: 0px
    clear: both
    font-family: "Open Sans"
    font-weight: bold
    font-size: 4em

    text-transform: uppercase
    color: $primaryLight
    @media screen and (max-width: 470px)
      &.responsive
        padding-top: 8.6em
      font-size: 2em
      padding-top: 4.5em
    @media screen and (max-width: 230px)
      &.responsive
        padding-top: 18em
      font-size: 1.2em
      padding-top: 6em
  h2
    font-family: "Open Sans"
    font-weight: bold
    font-size: 2em
    @media screen and (max-width: 720px)
      font-size: 1em
    margin: 0px
    color: $secondaryDark
