.Skills
  text-align: center
  .SkillsIcons
    width: 30em
    @media screen and (max-width: 510px)
      width: 100%
    margin: auto
    +display(flex)
    +flex-shrink(0)
    +align-items(center)
    +justify-content(space-between)
    flex-flow: wrap
    @media screen and (max-width: 750px)
      +justify-content(center)

    margin-bottom: 40px
    .BigWrapper
      +display(flex)
      +flex-shrink(0)
      +align-items(center)
      +justify-content(center)
      @media screen and (max-width: 750px)
        order: 1
        margin: auto
        flex: 100%
    .SmallCircle
      @media screen and (max-width: 750px)
        order: 2
        margin-left: 1em
        margin-right: 1em
      +display(flex)
      +flex-shrink(0)
      +align-items(center)
      +justify-content(center)
      +size(7em)
      +transition(300)
      border-radius: 50%
      background-color: $secondaryDark
      svg
        path
          fill: $secondaryLight
        width: calc(100% * 0.7)
        height: auto
    .BigCircle
      +display(flex)
      +align-items(center)
      +justify-content(center)
      +size(13em)
      border-radius: 50%
      background-color: $primaryDark
      svg
        path
          fill: $primaryLight
        width: calc(100% * 0.75)
        height: auto
