.Stats
  text-align: center
  .StatsWrapper
    +display(flex)
    margin: 10px auto
    margin-top: 0px
    padding-bottom: 3em

    width: 26em
    flex-wrap: wrap
    +align-items(center)
    +justify-content(space-between)
    @media screen and (max-width: 480px)
      width: 98%
    div
      font-family: "Open Sans"
      color: $secondaryLight
      font-size: 1em
      display: block
      padding-top: 1.2em
      height: 0.8em
      width: 47%
      text-align: left
      span
        width: 100%
        height: 100%
        display: block
        background-color: $primaryLight
      em
        display: block
        background-color: $secondaryLight
        float: left
        height: 100%
