@import 'bourbon/bourbon'
@import 'vars'
@import 'header'
@import 'skills'
@import 'AboutMe'
@import 'Stats'
@import 'Contact'
@import 'blog'
@import 'footer'

body, html
  height: 100%
  padding: 0
  margin: 0
h3
  font-family: "Open Sans"
  font-weight: bold
  margin-bottom: 0px
  margin: 0px
  font-size: 300%
  margin-bottom: 0.5em
  margin-top: 0.5em
  letter-spacing: -0.08em
  color: $primaryLight

.spacer
  display: block
  width: 30em
  height: 5px
  box-shadow: 0px 0.2em 5px #888888
  background-color: $secondaryLight
  margin: auto
  @media screen and (max-width: 480px)
    width: 95%
